/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');*/

html {
  font-size: 15px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  color: #000000;
  padding-top: 3.0rem;
  padding-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal;
}f

a, a:link, a:hover, a:visited, a:active {
  color: #11498A;
}

b, strong {
  font-weight: normal;
}

.gap {
  line-height: 0.5rem;
}

.portrait {
  float: left;
  width: 12rem;
  margin-left: -14rem;
  border-radius: 0.3rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 50rem;
  }
}

@media (max-width: 70rem) {
    .portrait {
      float: left;
      width: 6rem;
      margin-left: 0rem;
      margin-right: 1rem;
      border-radius: 0.15rem;
  }
}

/*.container-narrow > hr {
  margin: 2rem 0;
}*/

/* Main marketing message and sign up button */
.jumbotron {
  font-size: 0.9rem;
  padding: 1rem 1rem 0.5rem 1rem;
  text-align: justify;
  border-bottom: .05rem solid #e5e5e5;
}

.copyright {
  font-size: 0.8rem;
  color: #969696;
}
/* This is for publications pages*/

ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  margin: 1rem 0;
}

ul li > span {
  display: block;
}

ul li > span.title {
  font-weight: normal;
}

ul li span.author > a {
  color: #000000;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
